.event-desc {
  color: #6b6b6b;
}

.chart-area {
  width: 100%;
}

.chart-container {
  padding: 10px 0px;
}

.all-mobile {
  background-color: #b5c4d1;;
  display: flex;
  justify-content: center;
}

.all-tablet {
  background-color: #afafaf;
  display: flex;
  justify-content: center;
}

.all-comparison {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

@media (max-width: 425px) {
  .event-desc {
    font-size: 15px;
    text-align: center;
  }
  .data-highcharts-chart {
    display: flex;
    justify-content: center;
  }
}
