* {
   font-family: 'Roboto Mono', monospace;
}

.app {
  align-items: center;
  background: url('./building.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh; 
}

.top-app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  margin: unset;
}

.desc {
  color: #efefef;
  font-weight: 300;
  /*margin: unset;*/
}


